body{
    background-color: black;
    margin: 10px;
    font-family: 'Maitree', Cadson Demak;
}

#firstrow{
  background-image: url("../Images/backgrounds/landing.jpg");
  height: 636px;
}
#firstrow-firstcol{
  padding: 38px;
}
#firstrow-secondcol{
  top: 10%;
  font-size: 27px;
  text-align: center;
  color: white;
}
#secondrow{
  text-align: center;
  font-size: large;
  min-height: 210px;
  color: white;
}
#secondrow-firstcol{
  height: 210px;
  align-items: center;
}
#minirow1{
  min-height: 105px;
  background-color: #f2f3f4;
}
#minirow2{
  min-height: 105px;
  background-color: #F15A29;
}
#secondrow-firstcol{
  height: 210px;
  padding: 0;
}
#secondrow-secondcol{
  background-image: url("../Images/foodtop/breakfast.jpg");
  height: 210px;
  margin-left: 0;
  font-style: italic;
}
#secondrow-thirdcol{
  background-image: url("../Images/foodtop/lunch.jpg");
  height: 210px;
}
#secondrow-fourthcol{
  background-image: url("../Images/foodtop/dinner.jpg");
  height: 210px;
}
.burger{
  color: white;
}
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: #F15A29;
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: black;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
