body{
  background-color: white
    margin: 5px;
    font-family: 'Maitree', Cadson Demak;
}

#firstrow{
  background-image: url("../Images/backgrounds/landing.jpg");
  height: 636px;                                                  /*Header-Styling - the entire header row*/
}

#firstrow-firstcol{
  padding: 38px;                                                  /*Header styling - the Hamburger menu*/
}

#firstrow-secondcol{
  top: 10%;
  font-size: 27px;
  text-align: center;
  color: white;                                                   /*Header styling - the main menu logo*/
}

#secondrow{
  text-align: center;
  font-size: 22px;
  min-height: 210px;                                               /*Second-row/meal time(s) styling */
  color: white;
}

#secondrow-firstcol{
  height: 210px;
  align-items: center;                                            /*second-row/ - styling of the first quarter of the second row*/
  padding: 0;
}

#minirow1{
  min-height: 105px;
  background-color: #f2f3f4;                                      /*Second-row/ first quarter upper half styling*/
  padding-top: 11%;
  color: orange;
}

/*#minirow1:hover{
  opacity: 0.5;
  color: black;
}Hover setting for Happy-hour*/

#minirow2{
  min-height: 105px;
  background-color: #F15A29;
  padding-top: 11%;
  color:black;                                            /*Second-row/ first quarter lower half styling*/
}

/*#minirow2:hover{
  opacity: 0.5;
  color: black;
}Hover settings fro Party-Time*/

#secondrow-secondcol{
  background-image: url("../Images/foodtop/breakfast.jpg");
  height: 210px;
  margin-left: 0;
  font-style: italic;
  padding-top: 7%;                                                 /*(Breakfast) Second-row/ Second collumn styling /*/
}

#secondrow-secondcol:hover{
  opacity: 0.5;                                                     /*Hover setting for Breakfast */
  color: black;
}

#secondrow-thirdcol{
  background-image: url("../Images/foodtop/lunch.jpg");
  height: 210px;
  padding-top: 7%;
  font-style: italic;                                                /*(Lunch) Second-row/ third collumn styling */
}

#secondrow-thirdcol:hover{
  opacity: 0.5;
  color: black;
}

#secondrow-fourthcol{
  background-image: url("../Images/foodtop/dinner.jpg");
  height: 210px;
  font-style: italic;
  padding-top: 7%;                                                   /*(Dinner) Second-row/ Second collumn styling */
}

#secondrow-fourthcol:hover{
  opacity: 0.5;
  color: black;
}
.fastfoodtext{
  font-size: 19px;
  text-align: left;
  padding-right: 10%;
  margin-left: 10%;
}
.fastfoodheader{
  margin-left: 10%;                                             /*fast-food text formating*/
}
.gallery1{
  height: 33px;
  text-align: center;
  border: 2px solid #F15A29;
  background-color: white;
  color: #F15A29;                                              /*First gallery button formating*/
}
span{
  content: "\2192";
  color: #F15A29;
}
.drinkstext{
  font-size: 19px;
  text-align: right;
  padding-left: 10%;
  margin-right: 10%;
}
.drinksheader{
  text-align: right;
  margin-right: 10%;                                             /*Drinks text formating*/
}
#imagewrapper1{
  border:15px #e1e3e8 solid;
  width: 490px;
  height: 420px;
  margin-top: 20px;                                                 /*First image container on the third section*/
  margin-left: 30px;
}
#thirdrowimage1-1{
  background-image: url("../Images/fastFood1.jpg");                /*Add first image on the third section/fast-food*/
  height: 195px;
  background-repeat: no-repeat;
}
#thirdrowimage1-2{
  background-image: url("../Images/fastFood2.jpg");
  background-repeat: no-repeat;                                  /*Add first image on the third section/fast-food*/
  height: 195px;
}
#imagewrapper2{
  border:15px #e1e3e8 solid;
  width: auto;
  height: 420px;                                                  /*Second image container on the third section*/
  margin-bottom: 20px;
  margin-right: 30px;
}
#thirdrowimage2-1{
  background-image: url("../Images/drink1.jpg");                /*Add first image on the third section/fast-food*/
  height: 390px;
  background-repeat: no-repeat;
}
#thirdrowimage2-2{
  background-image: url("../Images/drink2.jpg");
  background-repeat: no-repeat;                                  /*Add first image on the third section/fast-food*/
  height: 390px;
}



   /*Fourth row in-section menu styling syntax*/



.dinner-hover:hover{
  color: black;
}

.burger{
  color: white;
}

/*Fourth section styling*/


.fourthrow{
  background-image: url("../Images/backgrounds/foodsBg.jpg");
  height: 599px;
  padding: 80px 70px 50px 70px;
  margin-top: 74px;
}
#foodmenu{
  min-height: 450px;
  min-width:960px;
  background-color: white;
}
.menutxt{
  text-align: center;
  font-size: 17px;
  color: #F15A29;
  font-weight: bold
}
#menu{
  color:#F15A29;
  font-size: 21px;
  font-weight: bold;
  }
.fourthrow #foodmenu #menu ul li #activetab{
  color: #F15A29;
}
a{
    color:black;
}


/*Fifith section styling syntac */



.fifthwrapper{
  padding: 50px 60px 50px 60px;
  background-color: white;
  height: 500px;
  width: 1020px;
  margin: auto;
  margin-top: 70px;
}


.fifthwrapper-content{
  padding-top: 20px;
  width: 900px;
  height: 350px;
  box-shadow: 0 0 20px #93969b;
}

h2{
  color: #F15A29;
  font-weight: bold;
  text-align: center;
}
#customer-name{
  text-align: center;
}
.customer-text{
  color: black;
  font-weight: 27px;
  text-align: center;
}
#rule{
  height: 300px;
  width: 1px;
  border-left: #e0e2e5 solid 1px;
}
#customers{
  align-self: center;
  text-align: center;
}

#customers .customerimages{
  padding: 30px;
}

.scrollbutton1{
  color:#F15A29;
  border-style: none;
  background-color: white;
}

.scrollbutton2{
  color:#F15A29;
  border-style: none;
  background-color: white;
}

/*Sixth wrapper styling*/
.subscribe{
  color: white;
  font-size: 29px;
}

form{
  height: 301px;
  background-image: url("../Images/backgrounds/subscribe.jpg");
  color: white;
  width: 100%;
  padding-top: 70px;
  text-align: center;
}

form input{
  border: none;
  height: 45px;
  opacity: 0.3;
  font-size: 18px;
  width: 400px;
  margin-left: -30px;
}

form input[type="email"]{
  padding-left: 20px;

}
button{
  height: 43px;
  background-color: #F15A29;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  margin-left: 20px;
  font-size: 18px;

}
/*Seventh wrapper*/

.seventhwrapper{
  height: 349px;
  background-color: #F15A29;
  color: white;
  text-align: center;
  padding-top: 7%;
}


#logos{
  float: left;
  padding: 30px;
}

.logo{
  padding-right: 20px;
}
.footertext{
  font-size: 10px;;
}

.fa {
  padding: 14px;
  font-size: 30px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 15px;
}
.fa-facebook {
  background-image: url("../Images/footerlogos/facebook.png");
  background-repeat: no-repeat;
  color: #F15A29;
}
.fa-twitter {
  background-image: url("../Images/footerlogos/twitter.png");
  background-repeat: no-repeat;
  color: #F15A29;
}
.fa-pinterest {
  background-image: url("../Images/footerlogos/pinterest.png");
  background-repeat: no-repeat;
  color: #F15A29;
}


/*Hamburger menu overlay syntax*/


.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: #F15A29;
    overflow-x: hidden;
    transition: 0.5s;
}


.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: black;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
